{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-customerpage{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="display-4">{{ page.title }}</h1>
                    <div class="lead">{{ page.customer }}</div>
                    <div class="lead">{{ page.date }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-around">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="max-height: 200px; width: 450px; ">
                <ol class="carousel-indicators">
                    {% for item in page.gallery_images.all %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %} active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for item in page.gallery_images.all %}
                        <div class="carousel-item {% if forloop.first %} active{% endif %}">
                            {% image item.image original as tmp_photo %}
                            <img src="{{ tmp_photo.url }}" class="d-block w-250 h-150" alt="...">

                            <div class="carousel-caption d-none d-md-block">
                                {% comment %} <h3>Stuff</h3> {% endcomment %}
                                <h3>{{ item.caption }}</h3>
                            </div>
                        </div>
                        {% comment %} <div style="float: left; margin: 10px">
                            
                            <p>{{ item.caption }}</p>
                        </div> {% endcomment %}
                    {% endfor %}


                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <!-- <div>
                <div class="d-flex justify-content-center">
                    <h3>Documents loaded</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">Document Name</th>
                        <th scope="col">Version</th>
                        <th scope="col">Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in page.documents.all %}
                            <tr class="{% if forloop.first %} table-active{% endif %}">
                                <th scope="row"><i class="far fa-file-word"></i></th>
                                <td>{{ item.doc.title }}</td>
                                <td>{{ item.doc.caption }}v1.2</td>
                                <td><a href="{{ item.doc.file }}" target="_blank" download="{{ item.doc.title }}">
                                    {{ item.doc.title }}
                                </a></td>
                            </tr>
                        {% endfor %}
                        {% comment %} <tr class="table-active">
                        <th scope="row"></th>
                        <td>Column content</td>
                        <td>Column content</td>
                        </tr>
                        <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        </tr>
                        <tr class="table-primary">
                        <th scope="row">Primary</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        </tr>
                        <tr class="table-success">
                        <th scope="row">Success</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        </tr>
                        <tr class="table-danger">
                        <th scope="row">Danger</th>
                        <td>Column content</td>
                        <td>Column content</td>
                        </tr>                         {% endcomment %}
                    </tbody>
                </table> 
            </div> -->
        </div>
        {% for block in page.content %}
            {% include_block block %}
        {% endfor %}
        <div class="row">
            {% for post in customerkbpages %}   
            <div class="col-xs-12 col-md-6 col-lg-4 py-4">
                <div class="card">
                {% with post=post.specific %}
                        {% comment %}  card-img-top {% endcomment %}
                        {% with post.main_image as main_image %}
                            {% if main_image %}
                                {% image main_image fill-320x180 class="card-img-top" %}
                            {% else %}
                                <img class="card-img-top" src="http://placehold.it/320x180" alt="Card image cap">
                            {% endif %}
                        {% endwith %}
                        <div class="card-block">
                            <div class="card-body">
                                <h4 class="card-title"><a href="{% pageurl post %}">{{ post.title }}</a></h4>
                                <p class="card-text">
                                    {{ post.intro }}
                                    {{ post.body|richtext }}
                                </p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">{{ post.date }}</small>
                        </div>
                    <!-- <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
    
                    {% with post.main_image as main_image %}{% if main_image %}{% image main_image fill-160x100 %}{% else %}{% endif %}{% endwith %}
    
                    <p>{{ post.intro }}</p>
                    {{ post.body|richtext }} -->
                {% endwith %}
                </div>
            </div>
            {% endfor %}
        </div>

        <p><a href="{{ page.get_parent.url }}">Return to Customers List</a></p>
    </div>
{% endblock %}