{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {% image self.banner_image width-1500 as img %}
    <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center; color: #fff !important;">
        <div style="background-color: rgba(0, 0, 0, 0.7); border-radius: 5; box-shadow: 1px 3px 2px 0px;">
            <h1 class="display-4">{{ self.banner_title }}</h1>
            <div class="lead">{{ self.banner_subtitle|richtext }}</div>
            <hr class="my-4">
            <p>{{ page.body|richtext }}</p>
            <a class="btn btn-primary btn-lg" href="/kb" role="button">Learn More</a>
        </div>
    </div>
{% endblock %}